:root{
    --blanco : #F7F7F7; /*fondo principal*/
    --esmeralda: #2E8B57; /*botones, enlaces, elementos interactivos*/
    --mostaza: #FFD700; /*ofertas y promos*/
    --marron: #8B4513; /*titulos y subtitulos*/
    --gris-oscuro: #333; /*texto principal*/
    --gris-medio: #666; /*descripciones de productos*/
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');

/*font-family: "Montserrat", sans-serif; para texto general*/
/*font-family: "Playfair Display", serif; para titulos*/

body{
    background: url(/assets/bg-texture.png);
    color: var(--gris-oscuro);
}

h1, h2{
    font-family: "Playfair Display", serif
}

p, label, select, option, button{
    font-family: "Montserrat", sans-serif;
}

header, main{
    background: var(--blanco);
}

main{
    width: max-content;
}

/*form*/

form{
    display: grid;
    grid-template-columns: auto;
}
form input[type=text], form input[type=tel]{
    padding: 5pt;
    border-radius: 5pt;
    border: 1pt solid var(--esmeralda);
    width: 50em;
    height: 1.5em;
    margin: 5pt;
}

form label{
    font-weight: bold;
}

form button{
    font-size: x-large;
    padding: 5pt 10pt;
    margin: 5pt 10pt;
}

form select{
    padding: 5pt 10pt;
    text-align: center;
    width: 25em;
}

form button, form select{
    background: var(--esmeralda);
    border-radius: 5pt;
    border: 1pt solid var(--esmeralda);
    color: var(--blanco);
    transition: all 1s ease-out;
}

form button:hover, form select:hover{
    border-radius: 25pt;
    font-style: oblique
}
form #mail{
    display: flex;
    align-items: center;
}