:root{
    --blanco : #F7F7F7; /*fondo principal*/
    --esmeralda: #2E8B57; /*botones, enlaces, elementos interactivos*/
    --mostaza: #FFD700; /*ofertas y promos*/
    --marron: #8B4513; /*titulos y subtitulos*/
    --gris-oscuro: #333; /*texto principal*/
    --gris-medio: #666; /*descripciones de productos*/
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');

/*font-family: "Montserrat", sans-serif; para texto general*/
/*font-family: "Playfair Display", serif; para titulos*/

body{
    background: url(/assets/bg-texture.png);
    color: var(--gris-oscuro);
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2{
    font-family: "Playfair Display", serif;
    color: var(--marron);
}

p, label, button, a{
    font-family: "Montserrat", sans-serif;
}

p, label{
    color: var(--gris-oscuro);
}

a{
    color: var(--esmeralda);
    padding: 0pt 10pt;
}

a:hover{
    text-shadow: 1pt 1pt 5pt var(--esmeralda);
}

a:active{
    font-style: oblique;
}

header, main, footer{
    background: var(--blanco);
}

main{
    width: 60em;
}

/*header y footer*/
header{
    position: fixed;
    top: 0;
    width: 100%;
}

header #links{
    text-align: center;
}

header h1{
    text-indent: 1em;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/*form*/

form{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
}
form input{
    padding: 5pt;
    border-radius: 5pt;
    border: 1pt solid var(--esmeralda);
    width: 50em;
    height: 1.5em;
    margin: 5pt;
    color: var(--gris-medio);
}

form label{
    font-weight: bold;
}

form button{
    background: var(--esmeralda);
    border-radius: 5pt;
    border: 1pt solid var(--esmeralda);
    color: var(--blanco);
    transition: all 1s ease-out;
    font-size: x-large;
    padding: 5pt 10pt;
    margin: 5pt 10pt;
}

form button:hover{
    border-radius: 25pt;
    font-style: oblique
}

form button:active{
    transform:scale(0.95);
}
